$blueColor: #00448C;
$yellowColor: #FFD200;
$redColor: #ED1B2D;
$colorSilver: #9FA1A4;
$colorGold: #B48E2E;
$colorBlack: #231F20;
$colorGrey2: #ccc5c52b;
$colorWhite: #ffffff;

*{
    font-family: 'Open Sans', sans-serif;
}

//Estilos para el Header del login
.marged{
    
        width: 103%;
        margin-left: -5px;
    
    
    @media(min-width:720px){
        width: 99%;
    };

    @media(min-width:1000px){
        width: 100%;
    };
    
}
.contentHeader{
    padding-bottom:1em;
    border-bottom: solid 1.5px;
    color:$blueColor;
}

.loginHeader{
    margin: 5% 0 0 0;
    width: 100%;
}


.textHeader{
    font-size: 15px;
    color:$colorSilver;
    text-align: left;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: -10px;

    @media(min-width:412px){
        font-size: 18px;
        margin-top: 20px;
        margin-left: -20px;
    };
    
    @media(min-width:720px){
        font-size: 37px;
        margin-top: 12px;
        margin-left: -51px;
    };

    @media(min-width:1000px){
        font-size: 37px;
        margin-top: 61px;
        margin-left: -90px;
    };
}

.textHeaderBanistmo{
    font-size: 27px;
    color:$blueColor;

    @media(min-width:412px){
        font-size: 32px;
    };
    
    @media(min-width:720px){
        font-size: 50px;
    };
}

.iconCabecera{
    height:100%;
    width:100%;
    @media(min-width:412px){
        height:90%;
        width:90%;
    };
    
    @media(min-width:720px){
        height:70%;
        width:70%;
    };
}

//Estilos para el body del login
.titleForm{
    color: $blueColor;
    text-align: center;
    font-weight: bold;
    padding-bottom: 4px;
    font-size: 17px;

    @media(min-width:412px){
        padding-bottom: 20px;
        font-size: 20px;
    };
    
    @media(min-width:720px){
        padding-bottom: 20px;
        font-size: 25px;
    };
}

.labelTextLogin{
    color: $blueColor;
    margin-top: 10px;
}

.textInputF {
    background-color: $colorGrey2;
    padding: 10px;
}

.inputUser{
    background-image: url('/assets/img/userGrey.png');
    background-size: 20px 20px;
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left:10%;
}

.inputPass{
    background-image: url('/assets/img/lockGrey.png');
    background-size: 20px 20px;
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left:10%;
}

.btn-custom {
    border:none;
    color: $colorWhite;
    background: url("/assets/img/fondoBoton.png");
    width: 100%;
    height: 67px;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    -webkit-transition: background-image 0.5s; 
    transition: background-image 0.5s;
    text-align: center;
    text-align-last: center;
    padding: 5px;
    margin-top: 40px;
    font-size: 19px;
}
.btn-custom:hover,
.btn-custom:focus {
    color:white;
    -webkit-transition: background-image 0.5s; 
    transition: background-image 0.5s;
    background-image: url('/assets/img/fondoBotonAmarillo.png');
    color: $blueColor;
}

#btn-login{
    display:none;
}

//Estilo para el componente de error
.errorBorder{
    border: 2px solid white;
}

//Estilos para el footer del login
#footer {
    color: $colorSilver;
    font-size: 14px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}