<!-- section para el login  -->
<section id="loginSection">
  <!-- Contenedor -->
  <div class="container">
    <!-- Cabecera login -->
    <header>
      <div class="row marged" style="padding-bottom:1em;border-bottom: solid 1.5px  rgb(62,83,166);">
        <div class="" style="width: 100%">
          <div class="row">
            <div class="img-responsive col-xs-5 col-sm-4 col-md-3 text-center" >
              <img src="assets/img/Banistmo-logo.png" class="" >
            </div>
            <div class="col-xs-5 col-sm-8 col-md-9 cabe"  >
              <div class=" " style="width:1000px">
                Banistmo              
                <span style="color:rgb(87,97,108)">Administración general de canales</span>
              </div>         
            </div>
          </div>
      
        </div>
      </div>
    </header> 
    <!-- Cabecera login -->
    
  </div>
  <!-- contenedor -->
  
</section>
<!-- section para el login -->
