$blueColor: #00448D;
$yellowColor: #FFD200;
$redColor: #ED1B29;
$colorGreyDark: #333333;
$colorGrey: #CCCCCC;
$colorWhite: #ffffff;
$colorGrey2: #ccc5c52b;
$colorGreyText: #6d6d6d;
$colorLightGray: #EEE;