<div>
  <input id="menu-switch" type="checkbox" />
  <nav id="menu" role="navigation">
    <ul class="cd-accordion-menu animated">

      <li class="has-children">
        <input type="checkbox" name="group-1" id="group-1" checked>
        <label for="group-1">Corresponsal no bancario
          <i class="fas fa-angle-down"></i>
        </label>
        <ul>
          <li class="has-children">
            <a href="#0">Crear corresponsal</a>
          </li>
          <li class="has-children">
            <a href="#0">Consultar corresponsal</a>
          </li>
          <li class="has-children">
            <a href="#0">Actualizar corresponsal</a>
          </li>
          <li class="has-children">
            <input type="checkbox" name="sub-group-2" id="sub-group-2">
            <label for="sub-group-2">Creación de puntos</label>
            <ul>
              <li>
                <a href="#0">Crear puntos</a>
              </li>
              <li>
                <a href="#0">Actualizar puntos</a>
              </li>
              <li>
                <a href="#0">Consultar puntos</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="has-children">
        <input type="checkbox" name="group-2" id="group-2">
        <label for="group-2">Topes</label>
      </li>

      <li class="has-children">
        <input type="checkbox" name="group-3" id="group-3">
        <label for="group-3">Administración de usuarios
          <i class="fas fa-angle-down"></i>
        </label>
        <ul>
          <li>
            <a href="#0">Consultar usuario</a>
          </li>
          <li>
            <a href="#0">Crear usuaruio</a>
          </li>
          <li>
            <a href="#0">Actualizar usuaruio</a>
          </li>
        </ul>
      </li>

      <li class="has-children">
        <input type="checkbox" name="group-4" id="group-4">
        <label for="group-4">Reportes</label>
      </li>
    </ul>
  </nav>
  <div class="page-wrap">
    <label for="menu-switch" id="menu-toggle">
      <i class="fas fa-bars"></i>
    </label>
    <div class="main-content" role="main">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" id="botonopera" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar" value="hola">
            <span class="sr-only">Toggle navigation </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse" role="tablist">
          <div class="brand">
            <img src="assets/img/logo.svg" class="logo">
          </div>
          <ul class="nav navbar-nav textBlue pull-right">
            <li>
              <a data-toggle="tab" id="cupoLink" role="tab" href="#cupoid" class="" aria-expanded="false">Financiera</a>
            </li>
            <li>
              <a data-toggle="tab" id="transactionsLink" role="tab" href="#trans" style="color: rgb(0,64,138) ">Usuarios </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu textBlue ">
                <li>
                  <a href="#">General</a>
                </li>
                <li>
                  <a href="#">Corresponsal</a>
                </li>
                <li>
                  <a href="#">Puntual</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#">Otro</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div>
        <div class="title-module">
          <div class="custom-content">
            <h2>Administración de canales no bancarios</h2>
          </div>
        </div>
        <!-- Componente menu-cnb -->
        <div class="custom-content main">
          <app-menu-cnb></app-menu-cnb>
        </div>
      </div>
    </div>
  </div>
</div>