$color-blue : #00448c;
$color-plata : #9FA1A4;



.textBlue{
    color: $color-blue;
    li>a{
       color: $color-blue;
    }
}

.font{
    font-family: -apple-system;
}
// .imgSize{
//     border-left: 100%;
// }



