<!-- titulo del componente  -->
<div class="container">
  <div class="row">
    <h1 class="fontSizeTitle"><strong> Administración de canales no Bancarios</strong></h1>
    <div class="row marged lineYellow"> </div>
  </div>
  <br>
  <!-- img de Mostradora  -->

  <div class="custom-content linegray" >
    <img src="assets/img/Mostradora.png" class="img-responsive  center-block">
    <h4 class=".font fontSizeContent">Ultimas noticias...</h4>
    <br>
    <br>
    <h4 class=".font fontSizeContent">Notificaciones...</h4>
  </div>

</div>