  <!--<nav class="navbar navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" id="botonopera" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar" value="hola">
          <span class="sr-only">Toggle navigation </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand ">
          <strong class="textBlue">Canal CNB</strong>
        </p>
      </div>

      <div id="navbar" class="navbar-collapse collapse" role="tablist">
        <ul class="nav navbar-nav textBlue ">
          <li>
            <a data-toggle="tab" id="cupoLink" role="tab" href="#cupoid" class="" aria-expanded="false">Financiera</a>
          </li>
          <li>
            <a data-toggle="tab" id="transactionsLink" role="tab" href="#trans" style="color: rgb(0,64,138) ">Usuarios </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu textBlue ">
              <li>
                <a href="#">General</a>
              </li>
              <li>
                <a href="#">Corresponsal</a>
              </li>
              <li>
                <a href="#">Puntual</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">Otro</a>
              </li>              
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<!-- img de Mostradora  -->
  <div class="text-center"> 
    <img src="assets/img/Mostradora.png" class="img-responsive  img-thumbnail">
  </div>
  <h4 class=".font">Notificaciones</h4>

