<!-- Contenedor -->
<div class="container">
  <!-- Cabecera login -->
  <header>
    <div class="row contentHeader">
      <div class="loginHeader">
        <div class="img-responsive col-xs-7 col-sm-7 col-md-7 text-center">
          <img src="assets/img/Logo-Banistmo.png" class="iconCabecera">
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5 text-left">
          <div class="">
            <p class="textHeader">Portal Administrativo</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- /Cabecera login -->

  <h1 class="titleForm">
    Su sesión ha cerrado
    <br> correctamente.
  </h1>
  <br>
  <div class="text-center ">
    <i id="home" class="fa fa-home fa-logout icono " aria-hidden="true" routerLink="/Login" routerLinkActive="active"></i>
  </div>

</div>